<!--

<nav class="navbar nabvar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="filiales" routerLinkActive="active" class="nav-link"
        >Filiales</a>

    </li>
    <li class="nav-item">
      <a routerLink="duenios" routerLinkActive="active" class="nav-link"
        >Dueños</a>
    </li>
  </ul>
</nav>
<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Sistema de Condominio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse  " id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Inicio </a>
      </li>
      <li class="nav-item">
        <a routerLink="filiales" routerLinkActive="active" class="nav-link">Filiales</a>
      </li>
      <li class="nav-item">
        <a routerLink="duenios" routerLinkActive="active" class="nav-link">Dueños</a>
      </li>
      <li class="nav-item">
        <a routerLink="accesos" class="nav-link" routerLinkActive="active">Accesos</a>
      </li>
      <li class="nav-item">
        <a routerLink="cuotasExtra" class="nav-link" routerLinkActive="active">Cuotas Extras</a>
      </li>
      <li class="nav-item">
        <a routerLink="cuotas" class="nav-link" routerLinkActive="active">Cuotas</a>
      </li>
    </ul>
  </div>
</nav>
<h1 class="text-center">{{ title }}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>
